<div xmlns:sec="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
    <div th:fragment="administracao">
        <div class="row" sec:authorize="hasRole('ROLE_ADMIN')">
            <section class="section">
                <div class="col s12">
                    <div class="row">
                        <div class="card">
                            <div class="col s12 m4 l4">
                                <a href="#cadastroUsuario" class="btn-large btn-block green modal-trigger">Cadastrar Usuário</a>
                            </div>
                            <div class="col s12 m4 l4">
                                <a href="/administrador/cadastro" methods="get" class="btn-large btn-block orange">Alterar Usuário</a>
                            </div>
                            <div class="col s12 m4 l4">
                                <a th:href="@{/administrador/csv}" class="btn-large btn-block blue">Baixar Arquivo .CSV</a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>


            <!-- [INICIO] MODAL DE CADASTRO DE USUARIOS -->
            <div class="modal s12 m10" id="cadastroUsuario">
                <form method="post" action="/administrador/cadastro" th:action="@{/administrador/cadastro}" class="login-form container">
                    <h5 class="card-title center grey-text">Cadastro de Usuário</h5>

                    <div class="col s12 l6">
                        <select name="tipos" id="tipos">
                            <option th:each="tipo :${tipos}" th:value="${tipo}" th:text="${tipo}" th:id="${tipo}" th:name="${tipo}"></option>
                        </select>
                    </div>

                    <div class="row">
                        <div class="input-field col s12">
                            <i class="mdi-social-person-outline prefix material-icons">person</i>
                            <input type="text" id="nome" name="nome" required>
                            <label>Nome</label>
                        </div>
                        <div class="input-field col s12">
                            <i class="mdi-social-person-outline prefix material-icons">email</i>
                            <input class="materialize-textarea validate" type="email" id="email" name="email" required>
                            <label>e-mail</label>
                            <span class="helper-text" data-error="e-mail invalido" data-success="e-mail valido"></span>
                        </div>
                        <div class="input-field col s12">
                            <i class="mdi-social-person-outline prefix material-icons">phone</i>
                            <input class="materialize-textarea" type="text" id="telefone" name="telefone" required>
                            <label>telefone</label>
                        </div>
                        <div class="input-field col s12">
                            <i class="mdi-action-person-outline prefix material-icons">lock_outline</i>
                            <input class="materialize-textarea" type="password" id="senha" name="senha" required>
                            <label>senha</label>
                        </div>
                        <div class="input-field col s12">
                            <i class="mdi-action-person-outline prefix material-icons">lock_outline</i>
                            <input class="materialize-textarea" type="password" id="confirma" name="confirma" required>
                            <label>confirmar senha</label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col s12 l4 center">
                            <div class="input-field">
                                <input type="reset" class="btn btn-large white-text red waves-effect waves-light modal-close" value="CANCELAR">
                            </div>
                        </div>
                        <div class="col s12 l4 center">
                            <div class="input-field">
                                <input type="reset" class="btn btn-large white-text orange waves-effect waves-light" value="LIMPAR">
                            </div>
                        </div>
                        <div class="col s12 l4 center">
                            <div class="input-field">
                                <input type="submit" class="btn btn-large white-text green waves-effect waves-light modal-close" id="btnCadastrarUsuario" value="CADASTRAR">
                            </div>
                        </div>
                    </div>

                    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                </form>
            </div>
            <!-- [FIM] MODAL DE CADASTRO DE USUARIOS -->
        </div>
    </div>
</div>