<div xmlns:sec="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
    <div th:fragment="principal">
        <div class="row">

            <!-- [INICIO] MENU PRODUTOR -->
            <div class="container">
                <div class="row">
                    <div class="col s12 m4">
                        <a class="waves-effect waves-light btn btn-large blue botao" href="/produtor/solicitacoes"><i class="material-icons right">view_list</i>SOLICITAÇÕES</a>
                    </div>
                    <div class="col s12 m4">
                        <a class="waves-effect waves-light btn btn-large orange botao" href="/produtor/minha-conta"><i class="material-icons right">assignment_ind</i>MINHA CONTA</a>
                    </div>
                    <div class="col s12 m4">
                        <a class="waves-effect waves-light btn btn-large green botao"><i class="large material-icons right">help</i>SOBRE</a>
                    </div>
                </div>
            </div>
            <!-- [FIM] MENU PRODUTOR -->

        </div>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    </div>
</div>