.wallpaper {
    background-image: url("../images/trigo3.jpeg");
    background-size: auto;
    position: absolute;
    min-height: 1000px;
    width: 100%;
}

#menu{
    background: linear-gradient(to top, #66BB6A , #0f9d58);
}

#logout{
    margin-right: 5px;
}

#logo-embrapa{
    margin-left: 10px;
    margin-right: 20px;
}

#logo-ifsp{
    margin-left: 10px;
}

#nave{
    background: linear-gradient(to bottom, #66BB6A , #0f9d58 , #66BB6A);
}


.navegacao{
    background: linear-gradient(to bottom, #66BB6A , #0f9d58 , #66BB6A);
    margin: 0px;
    padding: 0;
}

.collection-item{
    font-weight: bold;
}

.collection-item:hover{
    color: white;
}


.fixed-action-btn{
    top:55px;
    left:0;
}


footer{
    background: linear-gradient(to bottom, #66BB6A , #0f9d58);
    position:absolute;
    bottom:0;
    width:100%;
}
